@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* poppings font*/
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap"); /*Water Brush*/
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap"); /*Caveat*/

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #79d24c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  .text-stroke {
    -webkit-text-fill-color: #5fa53c;
    -webkit-text-stroke: 1px #2b2b2b;
  }

  .text-stroke-dark {
    -webkit-text-fill-color: #2b2b2b;
    -webkit-text-stroke: 1px #5fa53c;
  }

  .right li:hover {
    -webkit-text-stroke: 1px #2b2b2b;
  }
  .dark .right li:hover {
    -webkit-text-stroke: 1px #ffffff;
  }
}

@font-face {
  font-family: "Brexon";
  src: url("/fonts/Brexon.ttf");
}
